// >>-- Sass Variables --<<

// -- Colours --
// Neon Tones and Sharp Contrast
$void : #0E0B16;
$fuschia : #A239CA;
$jewel : #4717F6;
$stark : #E7DFDD;

// Color Palette 2763 on colorhunt.co
$dark-grey : #222831;
$grey : #393e46;
$turquoise : #00adb5;
$light-grey : #eeeeee;

// -- Fonts --
$roboto : 'Roboto', sans-serif;

// HTML Tag Selectors
body {
    background-color: $dark-grey !important;
    font-family: $roboto !important;
}

h1, h3, p, li{
    color: $turquoise;
}

hr {
    width: 50%;
    border: 0; 
    height: 1px; 
    background-color: $light-grey;
}

// Class Selectors
.center-text {
    //margin: 0 auto;
    //width: 100%;
    text-align: center;
}

.center-div {
    margin: 0 auto;
    width: 50%;
    text-align: justify;
}



// Id Selectors
